
html, body {
	background-color: white;
	font-size: 18px;
	height: 100%;
	position: relative;
	margin: 0;
}
p {
	color: hsl(322, 100%, 66%);
}
h1 {
	margin-top: 60px;
}
h2 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}
h3 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}
table {
	border: 1px solid red;
	width: 30%;
}
a {
	color: hsl(322, 100%, 66%);;
}
a:hover {
	color: #f7f9fd;
}
.container > img {
	margin: 20px 0px 0px 40px;
}
.container > button {
	border-radius: 5px;
	margin: 30px 40px 40px 0px;
	float: right;
	width: 145px;
	height: 45px;
	font-size: 12px;
	font-family: 'Poppins', sans-serif;
	color: hsl(208, 11%, 55%);
	box-shadow: 0px 4px 3px rgba(0,0,0,0.1),
				0px 8px 13px rgba(0,0,0,0.1)
}
.mockups {
	margin: 70px auto;
	text-align: center;
	width: 50%;
}
.mockups > img {
	width: 90%;
	padding-left: 20px;
}
.mockups > button {
	color: white;
	background-color: hsl(322, 100%, 66%);
	border-radius: 5px;
	border: none;
	width: 200px;
	height: 35px;
	font-size: 10px;
	font-family: 'Poppins', sans-serif;
	box-shadow: 0px 4px 3px rgba(0,0,0,0.1),
				0px 8px 13px rgba(0,0,0,0.1)
}

.container2 {
	margin-top: 150px;
}
.container2 > img {
	width: 30%;
	margin-left: 200px;
	margin-top: 50px;
}
.container2 .text2 {
	width: 30%;
	float: right;
	white-space: pre-line;
	margin-right: 200px;
}
.container2 .text2 > p {
	margin: 0px 0px 20px 0px;
}
.container2 .text2 > h3 {
	margin: 0;
}
.container3 {
	border: 1px solid white;
	width: 50%;
	height: 300px;
	text-align: center;
	vertical-align: middle;
	margin-top: 500px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 5px 5px 50px hsl(322, 100%, 90%);
}
.container3 > button {
	border-radius: 5px;
	background-color: hsl(322, 100%, 66%);
	width: 160px;
	height: 35px;
	font-size: 10px;
	font-family: 'Poppins', sans-serif;
	color: white;
	margin-top: 30px;
}
footer {
  margin-top: 150px;
  left: 0;
  bottom: 0;
  width: 100%;
  position: relative;
  background-color: black;
  justify-content: center;
  color: #f7f9fd;
}
footer .grid-container {
	display: grid; 
	grid-template-columns: auto auto auto;
	padding: 20px 50px 50px 50px;
}
footer .grid-middle {
	margin-top: 0px;
	display: flex;
}
footer .grid-left {
	width: 300px;
}
footer .grid-right {
	display: flex;
	flex-direction: column;
	margin-left: 100px;
}
h4 {
	color: white;
	margin-top: 0px;
	margin-bottom: 0px;
}
.social-icons {
	margin-top: 0px;
	filter: brightness(0) invert(1);
}
.About-Us {
	margin-top: 0px;
}
.Career {
	margin-top: 0px;
}


footer > img {
	margin-top: 30px;
	margin-left: 50px;
	margin-bottom: 10px;
	width: 200px;
	filter: brightness(0) invert(1);
}
.copyright {
	font-size: 11px;
	margin-top: 0px;
	margin-bottom: 0px;
}
nav {
	margin-left: 80px;
}
button.subscribe {
  background-color: #ff52bf;
  color: #f7f9fd;
  width: 150px;
  height: 40px;
  margin-top: 5px;
  border-radius: 3px;
  font: 12px "Open Sans", sans-serif;
  font-weight: 400;
  float: right;
  align-self: flex-end;
}
footer .grid-right input {
  width: 100%;
  height: 3em;
  border-radius: 5px;
}
i {
	margin-right: 15px;
}




